<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    .invoice-box {
        max-width: 1200px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: middle;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="9">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="http://aakronline.com/bundles/officebraincustombundletheme/AakronLineTheme/images/logo.png?v=0.0.1" style="width:100%; max-width:300px;">
                            </td>

                            <td>
                                Invoice Name: Item Cost<br>
                                Created: <%= Time.current.strftime('%B') %> <%= Time.current.day %>, <%= Time.current.year %><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="9">
                    <table>
                        <tr>
                            <td>
                                <b>Item Name:<br></b>
                                <%= @cost_data[:item_name] %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td colspan="8">
                    Cost Factor
                </td>

                <td>
                    Cost($)
                </td>
            </tr>
            <% if @cost_data[:blanks].length > 0 %>
            <tr class="item">
                <td style="width:100px" rowspan= <%= @cost_data[:blanks].length + 1 %>>
                    <b>Blanks</b>
                </td>
                <td colspan="6" style="text-align:left">
                    <b>Blank#</b>
                </td>
                <td style="text-align:right"><b>Cost($)</b></td>
                <td>
                </td>
            </tr>
            <% end %>

            <% @cost_data[:blanks].each do |blank| %>
            <tr class="item">
                <td colspan="6" style="text-align:left">
                  <%= blank[:name] %>
                </td>
                <td>$<%= blank[:cost] %></td>
                <td style="text-align:right"><b>$<%= blank[:cost] %></b></td>
            </tr>
            <% end %>

            <% if @cost_data[:selected_jobs].length > 0 %>
            <tr class="item">
                <td style="width:100px" rowspan= <%= @cost_data[:selected_jobs].length + 1 %>>
                    <b>Jobs</b>
                </td>
                <td colspan="3" style="text-align:left">
                    <b>Job#</b>
                </td>
                <td style="text-align:right;"><b>Wages($)/hr</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align:center"><b>Hr/pcs</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align:right"><b>Labor($)</b></td>
                <td style="text-align:right"><b>Pricing ($)</b></td>
                <td>
                </td>
            </tr>
            <% end %>

            <% @cost_data[:selected_jobs].each do |job| %>
            <tr class="item">
                <td colspan="3" style="text-align:left">
                  <%= job[:job_number] %> - <%= job[:description] %>
                </td>
                <td style="text-align:right">$<%= job[:wages_per_hour] %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align:center"><%= job[:hour_per_piece] %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align:right">$<%= job[:direct_labor_cost] %></td>
                <td style="text-align:right">$<%= job[:overhead_pricing_cost] %></td>
                <td style="text-align:right"><b>$<%= job[:total_pricing_cost] %></b></td>
            </tr>
            <% end %>

            <% if @cost_data[:screens].length > 0 %>
            <tr class="item">
                <td style="width:100px" rowspan=<%= @cost_data[:screens].length + 1 %>>
                    <b>Screens</b>
                </td>
                <td colspan="6" style="text-align:left">
                    <b>Job#</b>
                </td>
                <td style="text-align:center"><b>Screen</b></td>
                <td>
                </td>
            </tr>
            <% end %>

            <% @cost_data[:screens].each do |screen| %>
            <tr class="item">
                <td colspan="6" style="text-align:left">
                  <%= screen[:job_number] %> - <%= screen[:description] %>
                </td>
                <td style="text-align:center"><%= screen[:screen][:screen_size] %></td>
                <td style="text-align:right"><b>$<%= screen[:screen][:cost] %></b></td>
            </tr>
            <% end %>

            <% if @cost_data[:box].length > 0 %>
            <tr class="item">
                <td style="width:100px" rowspan="2">
                    <b>Box</b>
                </td>
                <td colspan="6" style="text-align:left">
                    <b>Box Name</b>
                </td>
                <td style="text-align:right"><b>Cost($)</b></td>
                <td>
                </td>
            </tr>
            <tr class="item">
                <td colspan="6" style="text-align:left">
                  <%= @cost_data[:box][0][:name] %>
                </td>
                <td style="text-align:right">$<%= @cost_data[:box][0][:cost] %></td>
                <td style="text-align:right"><b>$<%= @cost_data[:box][0][:cost] %></b></td>
            </tr>
            <% end %>

            <% if @cost_data[:ink_cost] != '' %>
            <tr class="item">
              <td colspan="8" style="text-align:left">
                <b>Ink Cost</b>
              </td>
              <td style="text-align:right"><b>$<%= @cost_data[:ink_cost] %></b></td>
            </tr>
            <% end %>

            <tr class="total">
                <td colspan="7"></td>
                <td style="text-align:right">Total:</td>
                <td style="text-align:right"><b>$<%= @cost_data[:total_cost] %></b></td>
            </tr>
        </table>
    </div>
</body>
</html>
